body {
  font-family: "Courier New", Courier, monospace;
  background-color: #1e1e1e; /* Dark grey background */
  color: #d4d4d4; /* Light grey text */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, p {
  margin: 0;
}

a {
  color: #007acc; /* Navy blue for links and accents */
}

/* Basic reset for lists */
ul {
  list-style: none;
  padding: 0;
}